.View {
  background: #0f171e;
  width: 80%;
  height: 100vh;
  position: relative;
}

.Home {
  display: flex;
}

.popup {
  height: 54%;
  width: 80%;
  z-index: 1;
  position: absolute;
  left: 4%;
  top: 10%;
  border-radius: 25px;
  background: rgba(0, 0, 0, .5)
}