.CreateAccountPrompt {
  height: 53.5%;
  width: 59%;
  z-index: 2;
  font-size: 30px;
  position: absolute;
  color: #ECEBEE;
  padding: 7%;
  border-radius: 25px;
  background-color: #000;
  left: 23%;
  top: 9%;

  .create-account-prompt {
    font-size: 24px;
    padding-top: 67px;
    padding-bottom: 10px;
    width: 82%;
    margin: auto;
  }

  .account-notice {
    padding-top: 10px;
    font-size: 18px;
    width: 82%;
    margin: auto;
  }

  .no-btn {
    background: transparent;
    color: #ECEBEE;
    border: none;
    border-bottom: 3px solid transparent;
    margin: 11% 0% 11% 26%;

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid #55E4F5;
    }
  }

  a {
    text-decoration: none;
    color: #ECEBEE;
    border-bottom: 3px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid #55E4F5;
    }
  }
}