.CreateAccountPrompt {
  height: 42%;
  width: 50%;
  z-index: 2;
  font-size: 30px;
  position: absolute;
  color: #ECEBEE;
  padding: 7%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.87);
  left: 23%;
  top: 10%;

  .no-btn {
    background: transparent;
    color: #ECEBEE;
    border: none;
    border-bottom: 3px solid transparent;
    margin: 11% 0% 0% 26%;

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid #55E4F5;
    }
  }

  a {
    text-decoration: none;
    color: #ECEBEE;
    border-bottom: 3px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid #55E4F5;
    }
  }
}