.Login {
  height: 50%;
  width: 50%;
  z-index: 1;
  position: absolute;
  left: 200px;
  top: 100px;
  border-radius: 25px;
  background: rgba(0, 0, 0, .5);

  p,
  h3 {
    color: whitesmoke;
  }

  h1 {
    color: whitesmoke;
    align-self: center;
    grid-area: title;
    font-size: 4rem;
    color: #0CD0FC;
  }

  .link {
    margin: 10px auto;
    width: 50%;
    background: whitesmoke;
    border-radius: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none
  }

  .user-input {
    font-size: 14px;
    border-radius: 5px;
    padding: 6px;
    margin: 10px;
  }

}