nav {
  background: #141d25;
  height: 100vh;
  width: 20%;

  .movie-tracker-title {
    font-family: 'Pacifico', sans-serif;
    color: #ECEBEE;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 35px;

    span {
      padding-left: 20px;
      display: block;
    }
  }

  .nav-border {
    .nav-options {
      display: flex;
      flex-direction: column;
      margin-top: 50%;
  
      .browse {
        color: #ECEBEE;
        text-align: left;
        border-bottom: .5px solid #3e4a56;
        padding-left: 35px;
        letter-spacing: 1px;
        padding-bottom: 11px;
        margin-bottom: 20px;
      }
  
      a {
        text-align: left;
        letter-spacing: 2px;
        border-left: 3px solid transparent;
        font-weight: 500;
        align-items: center;
        color: #ECEBEE;
        margin: 10px auto;
        text-decoration: none;
        width: 100%;
        height: 22px;
        padding-left: 35px;
        font-size: 18px;
      }
    
      a:hover {
        border-left: 3px solid #55E4F5;
      }
    }
  }

}